@import 'solarized_dark';
@import 'solarized_syntax';

pre{
  code{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1em;
    border: 1px solid #000;
  }
}
.gist{
  margin-top: 20px;
  a, a:link, a:visited{
    color: #666 !important;
  }
  .gist-file{
    .gist-data{
      padding: .5em 1.5em;
    }
  }
}
.gist-syntax{
  @include solarized-syntax;
}