@import 'normalize';
@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'code';
@import 'glyphicons';

$tag-button-color: #CACACA;
$category-button-color: #6C6C6C;
$archive-button-color: #999;

$gradient_from: #595959;
$gradient_to: #404040;

$dark-grey-color: #191919;
$medium-grey-color: #b3b3b3;
$light-grey-color: #e8e9e9;

html{
  margin: 0;
  height: 100%;
}
body{
  margin: 0 auto;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial ,sans-serif;
  .clear{
    @include clearfix;
  }
  .img-responsive{
    height: auto;
    max-width: 100%;
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 0 dotted;
    content: "";
  }
}

#forkme{
  display: none;
  z-index: 99;
  position: absolute;
  top: 0; 
  right: 0;
}

#container{
  @include outer-container;
  margin: 0 auto;
  .inner{
    margin: 40px;
  }
}

#header{
  .logo{
    margin: 20px 20px;
    text-align: center;
  }
  .navbar{
    width: 100%;
    background-color: $light-grey-color;
    border-top: 1px solid $medium-grey-color;
    border-bottom: 1px solid $medium-grey-color;
  }
  .navigation{
    @include outer-container;
    margin: 0 auto;
  }
  .links{
    margin: 0 0 0 40px;
    padding: 0;
    float: left;
    @include media($mobile) {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    li{
      padding: 5px 5px 5px 0;
      display: inline-block;
      text-align: center;
      @include media($mobile) {
        border-right: 1px solid $medium-grey-color;
        width: 24%;
        padding: 5px 0;
      }
      &.more{
        display: none;
        @include media($mobile) {
          display: inline-block;
          border-right: none;
        }
      }
      img{
        width: 60px;
      }
    }
  }
  .site-links{
    margin: 0 40px 0 0;
    padding: 0;
    float: right;
    @include media($mobile) {
      display: none;
    }
    li{
      margin: 0;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-left: 20px;
      a{
        font-size: 1em;
        color: black;
        text-decoration: none;
      }
    }
  }
}

#footer{
  text-align: center;
  #copyright{
    font-size: .8em;
  }
}
