@import 'normalize';
@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'code';
@import 'glyphicons';
@import 'typography';

$tag-button-color: #CACACA;
$category-button-color: #6C6C6C;
$archive-button-color: #999;

$gradient_from: #595959;
$gradient_to: #404040;

$dark-grey-color: #191919;
$medium-grey-color: #b3b3b3;
$light-grey-color: #e8e9e9;

html{
  margin: 0;
  height: 100%;
}
body{
  margin: 0 auto;
  height: 100%;
  @include roboto-slab;
  .clear{
    @include clearfix;
  }
  .img-responsive{
    height: auto;
    max-width: 100%;
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 0 dotted;
    content: "";
  }
}

#forkme{
  display: none;
  z-index: 99;
  position: absolute;
  top: 0; 
  right: 0;
}

#container{
  @include outer-container;
  margin: 0 auto;
  .inner{
    margin: 40px;
  }
}

#header{
  .logo{
    margin: 40px 40px;
    text-align: center;
    @include media($small_screen) {
      margin: 20px 20px;
    }
  }
  .navbar{
    width: 100%;
    background-color: $light-grey-color;
    border-top: 1px solid $medium-grey-color;
    border-bottom: 1px solid $medium-grey-color;
  }
  .navigation{
    @include outer-container;
    margin: 0 auto;
  }
  .links{
    margin: 0 0 0 40px;
    padding: 0;
    float: left;
    @include media($small_screen) {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    li{
      padding: 5px 5px 5px 0;
      display: inline-block;
      text-align: center;
      @include media($small_screen) {
        border-right: 1px solid $medium-grey-color;
        width: 24%;
        padding: 5px 0;
      }
      &.more{
        display: none;
        @include media($small_screen) {
          display: inline-block;
          border-right: none;
        }
      }
      img{
        width: 60px;
      }
    }
  }
  .site-links{
    @include roboto-condensed;
    margin: 0 40px 0 0;
    padding: 0;
    float: right;
    @include media($small_screen) {
      display: none;
    }
    li{
      margin: 0;
      height: 70px;
      vertical-align: middle;
      padding-left: 20px;
      &.primary{
        display: table-cell;
      }
      a{
        font-size: 1.2em;
        color: black;
        text-decoration: none;
      }
      .dropdown{
        position: relative;
        &.archives{
          margin-left: -10px;
        }
        &.categories{
          margin-left: 0px;
        }
        &.tags{
          margin-left: -25px;
        }
        .dropdown-menu{
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          display: none;
          float: left;
          min-width: 100px;
          padding: 5px 0;
          margin: 2px 0 0;
          list-style: none;
          font-size: 14px;
          background-color: #ffffff;
          border: 1px solid #cccccc;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          background-clip: padding-box;
          padding: 5px;
          li{
            @include roboto-condensed-light;
            font-size: .9em;
            height: 100%;
            display: block;
            margin: 5px;
            padding: 0;
            h3{
              margin: 0;
            }
          }
        }
      }
    }
  }
}

#footer{
  text-align: center;
  #copyright{
    font-size: .8em;
  }
}
