@import 'normalize';
@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'code';

$tag-button-color: #CACACA;
$category-button-color: #6C6C6C;
$archive-button-color: #999;

$gradient_from: #595959;
$gradient_to: #404040;

$dark-grey-color: #191919;
$medium-grey-color: #b3b3b3;
$light-grey-color: #e8e9e9;

html{
  margin: 0;
  height: 100%;
}
body{
  margin: 0 auto;
  height: 100%;
  .clear{
    @include clearfix;
  }
  .img-responsive{
    height: auto;
    max-width: 100%;
  }
}

#forkme{
  display: none;
  z-index: 99;
  position: absolute;
  top: 0; 
  right: 0;
}

#container{
  @include outer-container;
  margin: 0 auto;
}

#header{
  .logo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .navbar{
    width: 100%;
    background-color: $light-grey-color;
    border: 1px solid $medium-grey-color;
  }
  .navigation{
    @include outer-container;
    margin: 0 auto;
  }
  .links{
    margin: 0;
    padding: 0;
    float: left;
    li{
      margin: 0;
      display: inline-block;
      border-right: 1px solid $medium-grey-color;
      padding: 10px;
      &.about{
        border-left: 1px solid $medium-grey-color;
      }
      &.more{
        display: none;
        @include media($mobile) {
          display: inline-block;
        }
      }
      img{
        width: 40px;
      }
    }
  }
  .site-links{
    margin: 0;
    padding: 0;
    float: right;
    @include media($mobile) {
      display: none;
    }
    li{
      margin: 0;
      display: inline-block;
    }
  }
}

#footer{
  text-align: center;
  #copyright{
    font-size: .8em;
  }
}
