@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'typography';

.inner{
  @include reset-layout-direction;
  @include outer-container;
  // @include shift(1);
  margin-top: em(25);
  margin-bottom: em(25);
}

.post-excerpt, #post, #page{
  border: 1px solid #e6e6e6;
  margin-bottom: 40px;
  padding: 20px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.2);
  a{
    color: $dark-grey-color;
  }
  h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    a{
      text-decoration: none;
    }
  }
  h2{
    margin-bottom: 0px;
  }
  img{
    height: auto;
    max-width: 100%;
  }
}

#post{
  @include span-columns(12);
  .title{
    margin-bottom: 0;
  }
  .category{
    font-size: .8em;
    margin-bottom: 10px;
  }
  .content{
    margin-bottom: 30px;
  }
  .tags{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    li{
      list-style-type: none;
      display: inline-block;
      font-size: .8em;
      a{
        background-color: $light-grey-color;
        border: 1px solid $medium-grey-color;
        text-decoration: none;
        @include roboto-condensed;
        padding: .3em 1em .4em 1em;
      }
    }
  }
  h2{
    padding-bottom: 3px;
    border-bottom: 1px solid $medium-grey-color;
  }
}

.post-grid{
  @include reset-all;
  @include outer-container;
  overflow: visible;
}

.post-excerpt{
  @include span-columns(4);
  @include omega(3n);
  height: 400px;
  overflow: hidden;
  @include media($tablet) {
    @include span-columns(4);
    @include omega-reset(3n);
    @include omega(2n);
  }
  @include media($small_screen) {
    @include span-columns(8);
    @include omega-reset(3n);
    @include omega(1n);
  }
  margin-bottom: em(25);
  .excerpt-content{
    height: 305px;
    overflow: hidden;
  }
  .related{
    font-size: .7em;
    margin-bottom: 5px;
  }
  .title{
    margin-bottom: 3px;
    a{
      text-decoration: none;
      @include roboto-condensed;
      font-size: 1.5em;
      line-height: 1.1em;
    }
  }
  .category{
    font-size: .8em;
  }
  .date{
    font-size: .7em;
    display: none;
  }
  .content{
    height: 210px;
    overflow: hidden;
  }
  .readmore{
    font-size: .8em;
  }
  .tags{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    li{
      list-style-type: none;
      display: inline-block;
      font-size: .8em;
      a{
        background-color: $light-grey-color;
      border: 1px solid $medium-grey-color;
        text-decoration: none;
        @include roboto-condensed;
        padding: .3em 1em .4em 1em;
      }
    }
  }
  img{
    max-height: 180px;
    display: block;
    margin: 0 auto;
  }
}