<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="ContrarySheep" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   <script src="/js/jquery-1.7.1.min.js"></script>
   {% include isotope.html %}
</head>
<body onload="activateIsotope()">
  <div id="forkme">
	  <a href="http://github.com/ContrarySheep">
	    <img src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
	  </a>
	</div>
	<div id="container" class={{ page.layout_class }}>
	  
	  <div id="header" class="brick">
  	  <div class="logo"><a href="/"><img src="/images/blaaag-small.png"></a></div>
  	  <div class="tagline">The blog of Contrary Sheep</div>
  	  {% include title.html %}
  	</div>

  	{% include sidebar.html %}
    
    {{ content }}
    
    {% unless page.hide_categories %}{% include categories.html %}{% endunless %}
    
    {% unless page.hide_archives %}{% include archives.html %}{% endunless %}
    
    {% unless page.hide_tags %}{% include tag_cloud.html %}{% endunless %}
    
    {% include footer.html %}
    
	</div>
</body>
</html>

