<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="ContrarySheep" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   <script src="/js/jquery-1.7.1.min.js"></script>
   {% include highlight.html %}
</head>
<body>
  
  <div id="forkme">
	  <a href="http://github.com/ContrarySheep">
	    <img src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
	  </a>
	</div>

  <div id="header">
    <div class="logo"><a href="/"><img src="/images/blaaag-small.png" class="img-responsive"></a></div>
    <div class="navbar">
      <div class="navigation">

        <ul class="links">
          <li class="about">
            <a href="/about">
              <img src="/images/sheep-badge-small.png" title="About" alt="About">
            </a>
          </li>
          <li class="twitter">
            <a href="http://twitter.com/ContrarySheep">
              <img src="/images/twitter-badge-small.png" title="Twitter" alt="Twitter">
            </a>
          </li>
          <li class="github">
            <a href="https://github.com/ContrarySheep">
              <img src="/images/octocat-badge-small.png" title="Github" alt="Github">
            </a>
          </li>
          <li class="more">
            <a href="/">
              <img src="/images/more-icon-small.png" title="More" alt="More">
            </a>
          </li>
        </ul>

        <ul class="site-links">
          <li class="categories">
            <a href="/categories">
              Categories
            </a>
          </li>
          <li class="archive">
            <a href="/archives">
              Archives
            </a>
          </li>
          <li class="tags">
            <a href="/tags">
              Tags
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

	<div id="container" class={{ page.layout_class }}>
    
    {{ content }}
    
	</div>

  <div id="footer">
    <div id="copyright">
      &copy;<script language="javascript">Today = new Date();document.write(Today.getFullYear());</script> ContrarySheep
    </div>
  </div>
	
</body>
</html>

