<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>ContrarySheep {% if page.title %}- {{ page.title }} {% endif %}</title>
   <meta name="author" content="ContrarySheep" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" type="image/png" href="/images/no-icon.png" />
   <link rel="apple-touch-icon" href="/images/no-icon.png" />
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   <script src="/js/jquery-1.7.1.min.js"></script>
   <script src="/js/main.js"></script>
   {% include highlight.html %}
</head>
<body>
  
  <div id="forkme">
	  <a href="http://github.com/ContrarySheep">
	    <img src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
	  </a>
	</div>

  <div id="header">
    <div class="logo"><a href="/"><img src="/images/blaaag-small.png" class="img-responsive"></a></div>
    <div class="navbar">
      <div class="navigation">

        <ul class="links">
          <li class="about">
            <a href="/about">
              <img src="/images/sheep-badge-small.png" title="About" alt="About">
            </a>
          </li>
          <li class="twitter">
            <a href="http://twitter.com/ContrarySheep">
              <img src="/images/twitter-badge-small.png" title="Twitter" alt="Twitter">
            </a>
          </li>
          <li class="github">
            <a href="https://github.com/ContrarySheep">
              <img src="/images/octocat-badge-small.png" title="Github" alt="Github">
            </a>
          </li>
          <li class="more">
            <a href="/">
              <img src="/images/more-icon-small.png" title="More" alt="More">
            </a>
            <div class="nav_select">
              <select class="more_phone_select_menu">
                <option></option>
                <optgroup label="Categories">
                  {% for category in site.categories %}
                    <option value="/{{ category[0] | downcase | replace:' ','-' }}">
                      {{ category[0] }} ({{ category[1] | size }})
                    </option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Tags">
                  {% for tag in site.tags %}
                    {% assign title = tag[0] %}
                    {% assign slug = tag[0] %}
                    {% assign posts_for_tag = tag[1] %}
                    {% for tagged_post in posts_for_tag  %}
                      {% assign post_count = forloop.length %}
                    {% endfor %}
                      <option value="/tags/{{ slug | downcase | replace:' ','-' }}">
                        {{ title }} ({{ post_count }})
                      </option>
                  {% endfor %} 
                </optgroup>
              </select>
            </div>

          </li>
        </ul>

        <ul class="site-links">
          <li class="categories primary">
            <a href="javascript:void(0)" onclick="toggleMenu('#category-dropdown')">
              Categories <span class="caret"></span>
            </a>
            <div class="dropdown categories">
              <ul class="dropdown-menu" id="category-dropdown">
                {% for category in site.categories %}
                  <li>
                    <a href="/{{ category[0] | downcase | replace:' ','-' }}">{{ category[0] }}</a> 
                    ({{ category[1] | size }})
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tags primary">
            <a href="javascript:void(0)" onclick="toggleMenu('#tags-dropdown')">
              Tags <span class="caret"></span>
            </a>
            <div class="dropdown tags">
              <ul class="dropdown-menu" id="tags-dropdown">
                {% for tag in site.tags %}
                  {% assign title = tag[0] %}
                  {% assign slug = tag[0] %}
                  {% assign posts_for_tag = tag[1] %}
                  {% for tagged_post in posts_for_tag  %}
                    {% assign post_count = forloop.length %}
                  {% endfor %}
                    <li>
                      <a href="/tags/{{ slug | downcase | replace:' ','-' }}">{{ title }}</a>
                      ({{ post_count }})
                    </li>
                {% endfor %} 
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

	<div id="container" class={{ page.layout_class }}>

    <div class="inner">
      {{ content }}
    </div>
    
	</div>

  <div id="footer">
    <div id="copyright">
      &copy;<script language="javascript">Today = new Date();document.write(Today.getFullYear());</script> ContrarySheep
    </div>
  </div>
	
</body>
</html>

