---
layout: default
show_related: true
---
<div id="post">
  <h1 class="title">{{page.title}}</h1>
  <div class="category">
    {% if page.category %}
      Posted in {{ page.category }}
    {% endif %}
  </div>
  <div class="content">
    {{ content | replace: '/media/photos/', '/media/processed/photos/medium/' }}
  </div>
  <ul class="tags">
    {% for tag in page.tags %}
      <li>
        <a href="/tags/{{ tag | downcase | replace:' ','-' }}">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% include related_posts.html %}